# Connection string for PostgreSQL.
# For local development (Docker), use: This was defined in the docker-compose.yml file. See the correlation between the two files? :)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/appdb

# For production (Neon), replace with your Neon connection string:
# DATABASE_URL=postgresql://user:pass@your-neon-host.neon.tech/appdb?sslmode=require

# Port the Express server listens on
PORT=3001
